{% extends "home/layout.html" %}
{% block main %}

<link rel="stylesheet" href="/public/css/home/index.css">

<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">
                <h3>这是文章的标题</h3>
            </div>
            <div class="panel-body">
                <p>这是文章的内容这是文章的内容这是文章的内容
                这是文章的内容这是文章的内容
                这是文章的内容这章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容</p>
                <p>这是文章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容</p>
                <p>这是文章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容</p>
                <p>这是文章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容</p>
                <p>这是文章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容
                    这是文章的内容这是文章的内容这是文章的内容</p>

            </div>
        </div>
    </div>
</div>


{% endblock %}