{% extends "home/user_layout.html" %}
{% block userBody %}

<style>
    .article-content {
        word-break:break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5>我的收藏</h5>
    </div>
    <div class="panel-body">

        <div class="media" style="padding: 10px;">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/public/img/avatar.png" data-holder-rendered="true" style="width: 160px; height: 84px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="#" style="color: black">文章标题文章标题</a>
                </h4>
                <span class="article-content">
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                </span>
                <div style="color: #ed4014;">
                    <b style="color: black">小明</b>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 1000&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 2000&nbsp;&nbsp;
                    <span class="pull-right" style="color: #888; font-size: 14px;">2019-09-09 12:12:12</span>
                </div>

            </div>
        </div>

        <div class="media" style="padding: 10px;">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/public/img/avatar.png" data-holder-rendered="true" style="width: 160px; height: 84px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="#" style="color: black">文章标题文章标题</a>
                </h4>
                <span class="article-content">
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                </span>
                <div style="color: #ed4014;">
                    <b style="color: black">小明</b>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 1000&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 2000&nbsp;&nbsp;
                    <span class="pull-right" style="color: #888; font-size: 14px;">2019-09-09 12:12:12</span>
                </div>

            </div>
        </div>

        <div class="media" style="padding: 10px;">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/public/img/avatar.png" data-holder-rendered="true" style="width: 160px; height: 84px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="#" style="color: black">文章标题文章标题</a>
                </h4>
                <span class="article-content">
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                </span>
                <div style="color: #ed4014;">
                    <b style="color: black">小明</b>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 1000&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 2000&nbsp;&nbsp;
                    <span class="pull-right" style="color: #888; font-size: 14px;">2019-09-09 12:12:12</span>
                </div>

            </div>
        </div>

        <div class="media" style="padding: 10px;">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/public/img/avatar.png" data-holder-rendered="true" style="width: 160px; height: 84px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="#" style="color: black">文章标题文章标题</a>
                </h4>
                <span class="article-content">
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                      阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的阿萨德法师法所发生的
                </span>
                <div style="color: #ed4014;">
                    <b style="color: black">小明</b>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 1000&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 2000&nbsp;&nbsp;
                    <span class="pull-right" style="color: #888; font-size: 14px;">2019-09-09 12:12:12</span>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}